
<div class="goal-item">
  

  <img src="{{homeTeamCrest.urls.small.url}}" alt="Home team crest" />

  <div class="goal-item__score">
    <span> {{homeTeamScore}} </span> - <span> {{awayTeamScore}} </span>
  </div>

  <img src="{{awayTeamCrest.urls.small.url}}" alt="Away Team crest" />

</div>

<h3 class="stream-card__header" itemprop="header">{{title}}</h3>

{{{content}}}


